events {
    worker_connections 1024;
}

http {

    log_format swiftdeploy_fmt '$time_iso8601 | $status | ${request_time}s | $upstream_addr | $request';
    access_log /var/log/nginx/access.log swiftdeploy_fmt;
    error_log  /var/log/nginx/error.log warn;

    upstream app_backend {
        server {{ service_name }}:{{ service_port }};
        keepalive 32;
    }

    map $status $error_body_502 {
        default '{"error":"Bad Gateway","code":502,"service":"{{ service_name }}","contact":"ops@swiftdeploy.io"}';
    }
    map $status $error_body_503 {
        default '{"error":"Service Unavailable","code":503,"service":"{{ service_name }}","contact":"ops@swiftdeploy.io"}';
    }
    map $status $error_body_504 {
        default '{"error":"Gateway Timeout","code":504,"service":"{{ service_name }}","contact":"ops@swiftdeploy.io"}';
    }

    server {
        listen 80;
        server_name _;

        proxy_connect_timeout {{ proxy_timeout }}s;
        proxy_send_timeout    {{ proxy_timeout }}s;
        proxy_read_timeout    {{ proxy_timeout }}s;

        add_header X-Deployed-By "swiftdeploy" always;
        proxy_pass_header X-Mode;

        location / {
            proxy_pass         http://app_backend;
            proxy_http_version 1.1;
            proxy_set_header   Host              $host;
            proxy_set_header   X-Real-IP         $remote_addr;
            proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
            proxy_set_header   X-Forwarded-Proto $scheme;
            proxy_set_header   Connection        "";

            proxy_intercept_errors on;
            error_page 502 = @error502;
            error_page 503 = @error503;
            error_page 504 = @error504;
        }

        location @error502 {
            default_type application/json;
            add_header X-Deployed-By "swiftdeploy" always;
            return 502 $error_body_502;
        }

        location @error503 {
            default_type application/json;
            add_header X-Deployed-By "swiftdeploy" always;
            return 503 $error_body_503;
        }

        location @error504 {
            default_type application/json;
            add_header X-Deployed-By "swiftdeploy" always;
            return 504 $error_body_504;
        }
    }
}
